@model RegitraISP.Models.Klienta
@{
    ViewData["Title"] = "Dashboard";
}

<section id="section" class="bodysection">
    <div class="container_white">
        <section class="tm-margin-b-l">
            <h2 class="pagetitle">Naudotojo paskyra</h2>
            <br />
            <p class="page_infotext">Sveiki <strong>@Html.DisplayFor(modelItem => Model.Vardas) @Html.DisplayFor(modelItem => Model.Pavarde)!</strong> Esate prisijungę prie sistemos. Galite naudotis visomis funkcijomis bei paslaugomis.</p>
            <br />
            <br />
            <p class="page_infotext">Naudotojo informacija:</p>
            <div style="padding-left:50px">
                <p>Asmens kodas: <strong>@Html.DisplayFor(modelItem => Model.AsmensKodas)</strong></p>
                <p>Vardas: <strong>@Html.DisplayFor(modelItem => Model.Vardas)</strong></p>
                <p>Pavardė: <strong>@Html.DisplayFor(modelItem => Model.Pavarde)</strong></p>
                <p>Tel. nr: <strong>@Html.DisplayFor(modelItem => Model.TelNr)</strong></p>
                <p>El. paštas: <strong>@Html.DisplayFor(modelItem => Model.ElPastas)</strong></p>
                @if (Model.TeorijosEgzIslaikytas == true)
                {
                    <p>Teorijos egzaminas:<strong> Išlaikytas.</strong></p>
                }
                else
                {
                    <p>Teorijos egzaminas:<strong> Neišlaikytas.</strong></p>
                }
                @if (Model.PraktikosEgzIslaikytas == true)
                {
                    <p>Praktikos egzaminas:<strong> Išlaikytas.</strong></p>
                }
                else
                {
                    <p>Praktikos egzaminas:<strong> Neišlaikytas.</strong></p>
                }
                <p>Nuotrauka:</p>
            </div>
            <br />
            <br />
            <div style=" margin: 0 auto; margin-left:50%">
                <a class="btn btn-danger btn-lg" href="@Url.Action("Logout", "Home")">Atsijungti</a>
            </div>
        </section>

    </div>
</section>