@model RegitraISP.ViewModels.AutomobilisApziura
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Istorija";
}
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<section id="section" class="bodysection">
    <div class="container_white">
        <section class="tm-margin-b-l">
            <h2 class="pagetitle">Techninės apžiūrų istorija</h2>
            <br />
            <p class="page_infotext">Instrukcija darbuotojui: Iš sąrašo pasirinkite klientą ir įveskite visus jo deklaruojamo automobilio duomenis.</p>
            <br />
            <br />
            <div style="padding-left:200px">
                @foreach (var car in Model.automobiliai)
                {
                    if (HttpContextAccessor.HttpContext.Session.GetString("username") == car.FkKlientasasmensKodas)
                    {
                        <p style="text-align: center; font-size: larger">Automobilis: @car.Marke @car.Modelis, @car.Vin</p>
                        <table class="table table-hover table-dark" style="background-color: #4ca1af; box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.8); ">
                            <tr>
                                <th>Atlikimo data</th>
                                <th>Rida</th>
                                <th>Dūmingumas</th>
                                <th>Kėbulo būklė</th>
                                <th>Variklio būklė</th>
                                <th>Važiuoklės būklė</th>
                                <th>Pastabos</th>
                            </tr>
                            @foreach (var check in Model.apziuros)
                            {
                                if (car.Vin == check.FkAutomobilisvin)
                                {
                                    <tr>
                                        <th>@check.AtlikimoData</th>
                                        <th>@check.DabartineRida</th>
                                        <th>@check.Dumingumas</th>
                                        <th>@check.KebuloBukle</th>
                                        <th>@check.VariklioBukle</th>
                                        <th>@check.VaziuoklesBukle</th>
                                        <th>@check.Pastabos</th>
                                    </tr>
                                }
                            }
                        </table>
                        <br />
                        <br />
                    }
                }
            </div>
        </section>
    </div>
</section>