@*
    Vienos dienos leidimas
*@
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model RegitraISP.ViewModels.AutomobilisTechnine
@{
    ViewData["Title"] = "Leidimas";
    int c = 0;
    int d = 0;
}

<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<section id="section" class="bodysection">
    <div class="container_white">
        <section class="tm-margin-b-l">
            <h2 class="pagetitle">Vienos dienos leidimas</h2>
            <br />
            <p class="page_infotext">Šiame puslapyje yra išduodami vienos dienos leidimai nuvykti į apžiūrą transporto priemonėms, kurių TA galiojimas yra pasibaigęs.</p>
            <br />
            <br />
            @if (Model.Automobiliai.Count > 0)
            {
                <p class="page_infotext" style="text-align:center;">Jūsų transporto priemonės</p>
                <br />
                <form method="post" asp-controller="TechninesApziuros" asp-action="Leidimas" id="ta">
                    <table class="table table-hover table-dark" style="background-color: #4ca1af; box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.8);">
                        <colgroup>
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 40%;">
                        </colgroup>
                        <tr>
                            <th>Markė</th>
                            <th>Modelis</th>
                            <th>Valstybiniai numeriai</th>
                            <th>VIN</th>
                            <th>TA Galiojimo data</th>
                        </tr>
                        @foreach (Automobili auto in Model.Automobiliai)
                        {
                            <tr>
                                <td>@auto.Marke</td>
                                <td>@auto.Modelis</td>
                                <td>@auto.ValstybiniaiNumeriai</td>
                                <td>@auto.Vin</td>
                                @if (DateTime.Today > Model.Apziuros.Where(a => a.FkAutomobilisvin.Equals(auto.Vin)).LastOrDefault().GaliojimoData)
                                {
                                    <td>
                                        <input type="hidden" asp-for="Vin" id="@d++" value="@auto.Vin" />
                                        <input type="submit" id="@c++" class="btn btn-dark" value="Gauti leidimą" />
                                    </td>
                                }
                                @if (DateTime.Today <= Model.Apziuros.Where(a => a.FkAutomobilisvin.Equals(auto.Vin)).LastOrDefault().GaliojimoData)
                                {
                                    <td>Transporto priemonės TA galioja iki @Html.FixDateFormat(Model.Apziuros.Where(a => a.FkAutomobilisvin.Equals(auto.Vin)).LastOrDefault().GaliojimoData)</td>
                                }
                            </tr>
                        }
                    </table>
                </form>
            }
            @if (Model.Automobiliai.Count == 0)
            {
                <p class="page_infotext">Jūs neturite priregistruotų transporto priemonių.</p>
            }
        </section>
    </div>
</section>

<script>
    function pranesti(id) {
        var value = document.getElementById(id);
        alert(value);
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ta").submit(function () {
            Swal.fire({
                icon: 'success',
                title: 'Operacija sėkminga!',
                showConfirmButton: false,
                timer: 1600
            })
        });
    });
</script>
