@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@*          Auto Valdymas         *@
@*@model IEnumerable<RegitraISP.Models.Miesta>*@
@{
    ViewData["Title"] = "Automobilių valdymas";
}
@*<link rel="stylesheet" href="css/tooplate-style.css">*@

<section id="section" class="bodysection">
    <div class="tm-main-content">
        <section class="tm-margin-b-l">
            <header>
                <h2 class="pagetitle2">Automobilių valdymas</h2>
            </header>
            <br />
            <p class="page_infotext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="tm-gallery">
                <div class="row">
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("username") != null && @HttpContextAccessor.HttpContext.Session.GetInt32("isEmployee") == 1)
                    {

                        <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                            <a style="text-decoration:none" href="@Url.Action("Deklaravimas", "AutomobiliuValdymas")">
                                <div class="tm-gallery-item-overlay">
                                    <img src="img/10.jpg" alt="Image" class="img-fluid tm-img-center">
                                </div>

                                <p class="tm-figcaption">Automobilio deklaravimas</p>
                            </a>
                        </figure>
                        <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                            <a style="text-decoration:none" href="@Url.Action("Perleidimas", "AutomobiliuValdymas")">
                                <div class="tm-gallery-item-overlay">
                                    <img src="img/8.jpg" alt="Image" class="img-fluid tm-img-center">
                                </div>
                                <p class="tm-figcaption">Automobilio perleidimas</p>
                            </a>
                        </figure>
                        <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                            <a style="text-decoration:none" href="@Url.Action("Numeriai", "AutomobiliuValdymas")">
                                <div class="tm-gallery-item-overlay">
                                    <img src="img/4.jpg" alt="Image" class="img-fluid tm-img-center">
                                </div>
                                <p class="tm-figcaption">Numerių redagavimas</p>
                            </a>
                        </figure>
                        <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                            <a style="text-decoration:none" href="@Url.Action("Atnaujinimas", "AutomobiliuValdymas")">
                                <div class="tm-gallery-item-overlay">
                                    <img src="img/2.jpg" alt="Image" class="img-fluid tm-img-center">
                                </div>
                                <p class="tm-figcaption">Duomenų atnaujinimas</p>
                            </a>
                        </figure>
                    }
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("username") != null && @HttpContextAccessor.HttpContext.Session.GetInt32("isEmployee") == 0)
                    {
                        <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                            <a style="text-decoration:none" href="@Url.Action("SDK", "AutomobiliuValdymas")">
                                <div class="tm-gallery-item-overlay">
                                    <img src="img/7.jpg" alt="Image" class="img-fluid tm-img-center">
                                </div>
                                <p class="tm-figcaption">SDK generavimas</p>
                            </a>
                        </figure>
                    }
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("username") == null)
                    {
                        <div class="tm-gallery-item-overlay">
                             <p class="tm-figcaption">Turite prisijungti, kad galėtumėte naudotis automobilio valdymo funkcijomis</p>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</section>