@model RegitraISP.ViewModels.KlientasAutomobilisPasas
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SDK";
}
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<section id="section" class="bodysection">
    <div class="container_white">
        <section class="tm-margin-b-l">
            <h2 class="pagetitle">Automobilio SDK generavimas</h2>
            <br />
            <p class="page_infotext">Šiame puslapyje galite sugeneruoti naują SDK arba peržiūrėti esamą.</p>
            <br />
            <br />
            <div style="padding-left:100px">
                @if (Model.Automobiliai.Count != 0)
                {
                    <p class="page_infotext"><b>Jūsų priregistruoti automobiliai</b></p>
                    <form method="post" asp-controller="AutomobiliuValdymas" asp-action="SDK" id="av">
                        <table class="table table-hover table-dark" style="background-color: #4ca1af; box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.8); ">
                            <tr><th>Automobilio VIN </th><th>Markė</th><th>Modelis</th><th>Pagaminimo metai</th><th>Valstybiniai numeriai</th><th>SDK</th></tr>
                            @foreach (Automobili car in Model.Automobiliai)
                            {
                                <tr>
                                    <th>@car.Vin</th>
                                    <th>@car.Marke</th>
                                    <th>@car.Modelis</th>
                                    <th>@car.PagaminimoMetai.ToString("MM/dd/yyyy")</th>
                                    <th>@car.ValstybiniaiNumeriai</th>

                                    @if (car.Sdk != null)
                                    {
                                        <th><button id="@car.Sdk" style="margin-left:0px;" class="btn btn-dark" onclick="showsdk(@car.Sdk)" type="button" name="sdk" value="@car.Sdk">Peržiūrėti SDK</button></th>
                                    }
                                    else
                                    {
                                        <th><button id="@car.Vin" style="margin-left:0px;" onclick="createsdk(@car.Vin)" class="btn btn-success" type="submit" name="sdk" value="@car.Vin">Generuoti SDK</button></th>
                                    }
                                </tr>
                            }
                        </table>
                        <input id="vin" type="hidden" asp-for="Vin" value="" />
                    </form>
                        }
                        @if (Model.Automobiliai.Count == 0)
                        {
                            <p class="page_infotext"><b>Registruotų automobilių jūsų paskyroje nerasta!</b></p>
                        }


</div>
        </section>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script type="text/javascript">
    function showsdk(sdk) {
                    Swal.fire({
                    icon: 'info',
                    title: 'Jūsų automobilio SDK: \n ' + sdk.value,
                    confirmButtonText: 'Gerai'
                    })
    }
    function createsdk(vin) {
        document.getElementById("vin").value = vin;
        Swal.fire({
            icon: 'success',
            title: 'SDK sėkmingai sugeneruotas!',
            showConfirmButton: false,
            timer: 1600
        })
    }
</script>